
		<h3>About me</h3>

		<div class="aboutItem">
			<h3>Getting to Full Sail</h3>

			<p class="aboutText">Cupcake chocolate cake marshmallow bonbon soufflé biscuit chocolate cake ice cream danish. Tart chocolate cake sugar plum sweet roll lollipop lemon drops bear claw cupcake. Jelly candy cotton candy sweet. Toffee tootsie roll halvah unerdwear.com dessert ice cream soufflé cupcake. Sweet tart icing.</p>

		</div><!-- aboutItem -->

		<br />

		<div class="aboutItem">
			<h3>Being at Full Sail</h3>

			<p class="aboutText">Cupcake chocolate cake marshmallow bonbon soufflé biscuit chocolate cake ice cream danish. Tart chocolate cake sugar plum sweet roll lollipop lemon drops bear claw cupcake. Jelly candy cotton candy sweet. Toffee tootsie roll halvah unerdwear.com dessert ice cream soufflé cupcake. Sweet tart icing.</p>

		</div><!-- aboutItem -->
