
		<h3>{{title}}</h3>

		<div class="gallItem">
			<h4>Art of Dying</h4>

			<img class="gallImg" src="img/gallery/sites/artof.png">
			<br />
			<span>Blog like collection of stories</span>
		</div><!-- gallItem -->

		<div class="gallItem">
			<h4>Bonfires</h4>

			<img class="gallImg" src="img/gallery/sites/bonfires.png">
			<br />
			<span>Client work for Bonfires in Ovideo</span>
		</div><!-- gallItem -->

		<br />

		<div class="gallItem">
			<h4>Costais</h4>

			<img class="gallImg" src="img/gallery/sites/costais.png">
			<br />
			<span>Expense manager made with CodeIgniter</span>
		</div><!-- gallItem -->

		<div class="gallItem">
			<h4>Flipbook</h4>

			<img class="gallImg" src="img/gallery/sites/flipbook.png">
			<br />
			<span>Elementary bases flash application for flipbook like animations</span>
		</div><!-- gallItem -->

		<br />

		<div class="gallItem">
			<h4>Happy Little Octopus</h4>

			<img class="gallImg" src="img/gallery/sites/octopus.png">
			<br />
			<span>Personal graphic project intergrated into the web for Javascript practice</span>
		</div><!-- gallItem -->

		<div class="gallItem">
			<h4>Task Manager</h4>

			<img class="gallImg" src="img/gallery/sites/scheme.png">
			<br />
			<span>Steampunk task manager made with jQuery</span>
		</div><!-- gallItem -->
